.header{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 5rem    ;
    background-color: rgb(107, 149, 45);
    padding: 8px;
    text-align: center;
    color: white;
    gap: 5rem;

}

.b {

    background-color: green;
    padding: 5px;
    text-align: center;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

